@media screen and (max-width:1950px) {
    .aboutCompany div:last-of-type img {
        width: 100%;
        height: 100%;
        margin-left: -20px;
    }
}

@media screen and (max-width:1430px) {
 .container{min-width: 1320px;}   
 #forH div {
    
    width: 300px;
}
#forC, #forH{
    gap: 20px;


}


}