@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

.container {

    max-width: 1410px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;

}

#gl2 {
    background: #2A2C38;
    height: 44px;
    position: absolute;
    width: 100%;
    top: 145px
}

.miniHeader {
    background-color: rgba(26, 26, 37, 1);
    position: fixed;
    z-index: 13;
    width: 100%;
    margin-top: -40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: none;
}

.logos {
    height: 19px;
    width: 200px;
}

.stroka1 {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.stroka1 select {
    position: relative;
    top: -5px;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #858FA4;
}

.stroka1>div:last-of-type {
    display: flex;
    position: relative;
}

.stroka1>div:last-of-type img:nth-of-type(3) {
    margin: 0px 20px;
}

#ellip1,
#ellip2,
#ellip3 {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #F53B49;
    border: 1px solid #1A1A25;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

#ellip1 {
    position: absolute;
    top: 0px;
    left: 95px;
}

#ellip2 {
    position: absolute;
    top: 0px;
    left: 138px;
}

#ellip3 {
    position: absolute;
    top: 0px;
    left: 178px;
}

#navi {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 18px;
    width: 30px;
    justify-content: space-between;
    align-self: center;
    margin-left: 30px;



}

#navi div {
    height: 2px;
    width: inherit;
    background-color: #FFFFFF;
}

.stroka2 {
    background: #2A2C38;
}

.menuCheck {
    height: 60px;
    width: 60px;
    position: absolute;
    right: -20px;
    top: -15px;
    opacity: 0;
    z-index: 28;
}

.menuCheck:checked+#ops {
    display: flex;
}



#ops {

    position: fixed;
    height: 400px;
    width: 320px;
    background-color: #74777e;
    z-index: 16;
    right: 0px;
    top: 63px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

#ops li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: table
}

#ops li A {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 100%;
    height: 100%;
    letter-spacing: 5px;
}

#ops li a:hover {
    font-size: 22px;
    background-color: #5b5c5f;

}

button {
    border: none;
}



#gl2 {
    background: #2A2C38;
    height: 44px;
    position: absolute;
    width: 100%;
    top: 162px;

}


header {
    position: relative;
    background-color: #1A1A25;
    height: 205px;
    margin-bottom: 100px;


}

header #first_row {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

header #first_row>div:first-of-type {

    padding: 20px 0px;
    width: 425px;
}

header #first_row select {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #858FA4;
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 25px;
    outline: 0px;
}



header #first_row div:first-of-type select {

    height: 20px;
}

header #first_row>div:last-of-type {

    padding: 20px 0px;
    display: flex;
}

header #first_row>div:last-of-type div {
    display: flex;
}

header #first_row button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 142px;
    height: 37px;
    background: #384255;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #F7F7F7;
    margin-left: 30px;
    position: relative;
    top: -4px;
}

header #first_row>div:last-of-type>div:first-of-type span {

    height: 20px;
    font-size: 14px;
    line-height: 140%;
    vertical-align: bottom;
    color: #909CB5;
    position: relative;
    top: 10px;
    position: relative;
    top: 5px;
}

#tel {
    width: 139px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    top: 7px;
}

header #first_row>div:last-of-type select {
    width: 59px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -5px;
}

#line {
    width: 1px;
    height: 30px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    margin: 0px 30px;
}

#ACall {
    width: 113px;
    height: 20px;
    font-size: 14px;
    line-height: 140%;
    color: #F53B49;
    position: relative;
    left: 7px;
    top: 7px;

}

header #first_row>div:last-of-type>div:last-of-type span {

    height: 20px;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 7px;
    cursor: pointer;
}

header #first_row>div:last-of-type>div:last-of-type img {
    position: relative;
    left: 10px;
    top: 3px;
    margin-right: 12px;
}

#gl {
    position: absolute;
    top: 80px;
    height: 1px;
    width: 100%;
    background-color: rgba(133, 143, 164, 0.15);

}

#second_row {
    padding: 16px 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 9px;
}

#second_row div {
    display: flex;
    flex-direction: row;
}

#second_row button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 13px;
    width: 127px;
    height: 49px;
    max-height: 49px;
    background: #F53B49;
    border-radius: 4px;
    flex-grow: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
}

#second_row button img {
    position: relative;
    right: 5px;
    top: 1px;
}

#search {
    height: 20px;

    margin-top: 13px;
    margin-left: 50px;
}

#line2 {
    width: 1px;
    height: 40px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    margin: 5px 30px 0px 30px;

}

header #second_row li {
    display: inline;
    height: 20px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 18px 0px 18px;
}

header #second_row li a {
    text-decoration: none;
    color: #FFFFFF;
}

header #second_row li a:hover {
    color: rgb(151, 149, 149);
}

header #second_row ul {
    margin-top: 15px;
}

#second_row div:last-of-type img:first-of-type {
    height: 20px;
    position: relative;
    top: 15px;
    right: 110px;
}

#second_row div {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#second_row div:last-of-type img:nth-of-type(2) {
    height: 20px;
    position: relative;
    top: 15px;
    right: 68px;
}

#second_row div:last-of-type img:nth-of-type(3) {
    height: 28px;
    position: relative;
    top: 8px;
    right: 25px;
}

#ellips {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #F53B49;
    border: 1px solid #1A1A25;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    top: 25px;
    cursor: pointer;

}

#ellips:first-of-type {
    right: 149px;
}

#ellips:nth-of-type(2) {
    right: 85px;
}

#ellips:nth-of-type(3) {
    right: 17px;
}

#third_row {
    display: flex;
    height: 44px;
    position: relative;
    padding: 13px 0px 14px 0px;
}

#third_row button {
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



#bar {
    position: relative;
    top: -1px;
    left: 3px;
}

.dropdown_menu1,
.dropdown_menu2 {
    position: absolute;
    visibility: hidden;
    background: #2A2C38;
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 20px 10px 5px;
    z-index: 7;

}

.dropdown_menu1 li a,
.dropdown-item {
    text-decoration: none;
    color: #FFFFFF;
}

.dropdown_menu1 li a:hover {
    color: rgb(151, 149, 149);
}

.dropdown_menu2 li a:hover {
    color: rgb(151, 149, 149);
}

#third_row div button:hover+.dropdown_menu1 {
    visibility: visible;
}

header li:hover {
    color: rgb(151, 149, 149);
}

.dropdown_menu1 li,
.dropdown_menu2 li {
    margin: 20px 0px;
}

.dropdown_menu1 li:first-of-type,
.dropdown_menu2 li:first-of-type {
    margin-top: 15px;
}

.dropdown_menu1 li:last-of-type,
.dropdown_menu2 li:last-of-type {
    margin-bottom: 5px;
}

.dropdown_menu1:hover {
    visibility: visible;
}

#third_row #line {
    position: relative;
    top: -5px;
    z-index: 2;
}

#third_row div button:hover+.dropdown_menu2 {
    visibility: visible;
}

.dropdown_menu2:hover {
    visibility: visible;
}

.breadCrumbs,
.breadCrumbs a {
    color: rgba(56, 66, 85, 0.60);
    text-decoration: none;
    font-size: 14px;
    font-family: Inter;
    line-height: 140%;

}

.breadCrumbs::before {
    content: url('image/Vectorrr.svg');
    margin-right: 7px;
    position: relative;
    top: 2px;
}


#third_row .dropdown_house a {
    color: #FFF;
    text-decoration: none;
}

.cor {
    margin: 30px 0px;
}

.hr {
    margin-bottom: 10px;
    height: 1px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;

}

.form_toggle {
    user-select: none;
    display: inline-block;
}

.form_toggle-item {
    user-select: none;
    float: left;
    display: inline-block;
}

.form_toggle-item input[type=radio] {
    user-select: none;
    display: none;
}

.form_toggle-item label {
    user-select: none;
    display: inline-block;
    line-height: 34px;
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.form_toggle .item-1 label:first-of-type {
    user-select: none;
    padding-right: 30px;
    border-radius: 6px 0 0 6px;
    color: rgba(144, 156, 181, 1);
    border-right: 1px solid rgba(144, 156, 181, 0.5);
}

.form_toggle .item-1 label:nth-of-type(2) {
    user-select: none;
    margin-left: 30px;
    border-radius: 6px 0 0 6px;
    color: rgba(144, 156, 181, 1);

}

.form_toggle .item-2 label {
    user-select: none;
    padding-left: 30px;
    color: rgba(144, 156, 181, 1);
    border-radius: 0 6px 6px 0;

}

#lab {
    margin: 0;
}

.form_toggle .item-1 input[type=radio]:checked+label {
    user-select: none;
    color: rgba(26, 26, 37, 1);
}

.form_toggle .item-1 input[type=radio]:checked+.step2 {
    user-select: none;
    display: none;
}

.form_toggle .item-2 input[type=radio]:checked+label {
    user-select: none;
    color: rgba(26, 26, 37, 1);
}







.form_toggle3 {
    display: inline-block;
    margin: 20px 0px;
}

.form_toggle3-item {
    float: left;
    display: inline-block;
}

.form_toggle3-item input[type=radio] {
    display: none;
}

.form_toggle3-item label {
    display: inline-block;
    padding: 0px 15px;
    line-height: 34px;

    border-right: none;
    cursor: pointer;
    user-select: none;
    margin-right: 12px;
}

.form_toggle3 .item-3 label,
.form_toggle3 .item-4 label {
    padding: 8px 10px 9px 10px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: rgba(56, 66, 85, 1);
    border-radius: 4px;
    border: 1px solid rgb(56, 66, 85, 0.1);
    font-size: 14px;
    font-weight: 700;
}



.form_toggle3 .item-3 input[type=radio]:checked+label,
.form_toggle3 .item-4 input[type=radio]:checked+label {
    border-radius: 4px;
    justify-self: ;
    background: var(--unnamed, #F53B49);
    color: rgba(255, 255, 255, 1);
}

.tova {

    display: grid;
    grid-template-columns: 1fr 450px;
    grid-template-rows: 1fr;
    position: relative;

}

.tova_1 {
    border: #87878738 1px solid;
    border-radius: 8px;
    margin-bottom: 20px;
}

.row1 {
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
    padding-bottom: 10px;
}

.tova_1,
.row1,
.ri {
    display: flex;

}

.row1 {
    justify-content: space-between;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.nameH {
    color: #1A1A25;
    font-size: 18px;
    line-height: 150%;
}

.rate {
    position: relative;
    margin: 8px 0px;
    color: #909CB5;
    font-size: 12px;
    font-weight: 500;
}

.rate>img,
.malo>img {
    margin: 0px 2px;
    position: relative;
    top: 1px;
}


.malo {
    color: #F99808;
    font-size: 12px;
    font-weight: 500;
}

.showRoom {
    color: #4B7EE8;
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;

}

.minus,
.plus,
.num {
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #909CB5;
    display: flex;
    width: 28px;
    height: 28px;
    padding: 2px 10px 4px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.num {
    border: none;
    margin: 0px 12px;
}

.ri {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 70px;
}

.ri div p:first-of-type {
    color: #1A1A25;
    font-size: 17px;
    font-weight: 700;
    line-height: 135.938%;
}

.ri div p:last-of-type {
    color: #858FA4;
    font-size: 16px;
    line-height: 135.938%;
    text-decoration: line-through;
}

.prices {
    margin-left: 30px;
}

.row2 {
    display: flex;
    margin: 10px 0px;
}

.row2>div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.row2>div button {
    margin-top: 8px;
    display: flex;
    padding: 8px;
    align-items: center;
    color: #384255;
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
    border-radius: 4px;
    border: 1px solid rgba(144, 156, 181, 0.50);
    background: #FFF;
}

.color {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    margin-right: 6px;
}

.row2>div button:last-of-type {
    width: fit-content;
}

.row3>div {
    width: fit-content;
    float: right;
}

.row3 span {
    color: #909CB5;
    font-size: 14px;
    line-height: 140%;
}

.heart {
    width: 16px;
}

.row3 .heart {
    position: relative;
    top: 2px;
}

.row3 .delete {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 3px;
}





























footer {
    background: rgba(26, 26, 37, 1);

    padding-top: 88px;
    margin-top: 70px;
    box-shadow: 0px 10px 50px 0px rgba(133, 143, 164, 0.05);
}

.firstFtr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(133, 143, 164, 0.15);
    padding-bottom: 30px;
}

.firstFtr div li {
    color: rgba(133, 143, 164, 1);
    font-weight: 500;
    line-height: 21px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    cursor: pointer;
}

.firstFtr div li:first-of-type {
    color: rgba(255, 255, 255, 1);

    margin-bottom: 30px;
}

.firstFtr div li:first-of-type:hover,
.firstFtr>div:first-of-type ul:first-of-type li:last-of-type:hover {
    color: rgb(202, 198, 198);

}



.firstFtr>div:first-of-type {
    display: flex;
}

.firstFtr>div:first-of-type ul {
    margin-right: 30px;
    width: 210px;
}


.firstFtr>div:first-of-type ul:first-of-type li:last-of-type {
    color: rgba(255, 255, 255, 1);
}

.firstFtr div li:not(:first-of-type):hover {
    color: rgb(110, 118, 135);
}

.firstFtr>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#policy {
    margin-top: 20px;
}

.firstFtr>div:last-of-type button {
    border-radius: 5px;
    background: rgba(133, 143, 164, 0.15);
    width: 255px;
    height: 48px;
    padding: 15px 34px 14px 14px;
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    border: none;
    position: relative;
    margin-bottom: 50px;
}

.firstFtr>div:last-of-type button::after {
    content: url(image/paperPlane.png);
    position: absolute;
    right: 20px;
}

.firstFtr>div:last-of-type p {
    color: #858FA4;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 8px;


}

.disl {
    display: none;
}


.firstFtr>div:last-of-type span {
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-family: Inter;
    line-height: 140%;
}

.firstFtr>div:last-of-type span:hover {
    color: #cfcdcd;

}

.firstFtr>div:last-of-type>div:first-of-type {
    margin-bottom: 23px;
}

.firstFtr>div:last-of-type>div:last-of-type {
    margin-bottom: 40px;
}

.firstFtr>div:last-of-type>a {
    margin-bottom: 7px;
    text-decoration: none;
    color: #4B7EE8;

}

.secondFtr {
    padding: 51px 0px;
    display: flex;
    justify-content: space-between;
}

.secondFtr p {
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    margin-top: 17px;
}

.secondFtr>div:nth-of-type(2) {
    margin-left: 76px;
}

.secondFtr>div:nth-of-type(2) svg {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.secondFtr>div:nth-of-type(3) {
    display: flex;
}

.secondFtr>div {
    justify-content: center;
    align-items: center;
}

.secondFtr>div:last-of-type svg {
    margin-top: 13px;
}


.secondFtr button:first-of-type {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    height: 37px;
    background: #384255;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #F7F7F7;
    margin-right: 30px;
}

.secondFtr button:last-of-type {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid rgba(144, 156, 181, 0.50);
    color: #858FA4;
    font-size: 14px;
    background: transparent;
    font-weight: 700;
    height: 37px;
}

button {
    cursor: pointer;
}

.secondFtr>div:last-of-type svg {
    margin-right: 30px;
}

.garant {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 6px;
    background: #384255;
    margin: 20px 0px;
}

.right>div:nth-of-type(1),
.right>div:nth-of-type(2) {
    display: flex;
}

.right>div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}


.left {
    margin-top: 20px;
    width: content;
    box-sizing: border-box;
}

.right {
    width: 450px;
    padding: 30px;
    height: min-content;
    position: sticky;
    margin-left: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px rgba(19, 15, 38, 0.10), 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    top: 0px;
}

.right>div:first-of-type h3 {
    width: 160px;
    color: #F53B49;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}

.right>div:first-of-type p {
    color: #F53B49;
    font-size: 17px;
    font-weight: 700;
    line-height: 135.938%;
}

.right>div:nth-of-type(2) {
    padding: 12px 0px 20px 0px;
    margin: 12px 0px 20px 0px;
    border-top: 1px solid rgba(133, 143, 164, 0.2);
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}

.right>div:nth-of-type(2) p:first-of-type {
    width: 160px;
    font-size: 16px;
    color: #384255;
    line-height: 150%;
}

.right>div:nth-of-type(2) p:last-of-type {
    font-size: 16px;
    color: #384255;
    line-height: 150%;
}

.right button:first-of-type {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--unnamed, #F53B49);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.right button:nth-of-type(2),
.right button:last-of-type {
    display: flex;
    padding: 12px 20px 13px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #F53B49;
    background: rgba(245, 59, 73, 0.00);
    color: #F53B49;
    font-size: 14px;
    font-weight: 700;
    width: min-content;
    white-space: nowrap;
    box-sizing: border-box;
}

.right button:nth-of-type(2) {
    margin: 14px 0px;
}

.checkBonus {
    display: flex;
    margin-top: 20px;
    color: #384255;
    font-size: 14px;
    line-height: 150%;
}

.checkBonus>div:first-of-type {
    margin-right: 18px;
}

.checkBonus a {
    text-decoration: none;
    color: rgba(75, 126, 232, 1);
}

.garantyLine {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(144, 156, 181, 0.5);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.garant h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.garant>p {
    color: rgba(246, 246, 246, 0.50);
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.garantyLine>p:first-of-type {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.garantyLine>p:first-of-type>span {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.garantyLine>span {
    color: var(--txt, #909CB5);
    font-size: 16px;

    font-weight: 700;
    line-height: 130%;
}

.garantyLine>div {
    color: var(--txt, #909CB5);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    border: rgba(144, 156, 181, 1) 1px solid;
    width: 28px;
    height: 28px;
    padding: 2px 10px 4px 10px;
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
}

.garantyLine>div:last-of-type {
    padding-left: 8px;
}

.garantyLine button {
    display: flex;
    padding: 8px 12px 9px 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    background: none;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid rgba(246, 246, 246, 0.50);
    box-sizing: border-box;
    height: fit-content;
}

.garantyLine>span:last-of-type {
    margin: 0px -20px;
}

.garant a {
    color: rgba(75, 126, 232, 1);
    text-decoration: none;
}

.garantyLine:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ad {
    margin: 20px 0px 30px 0px;
    color: #1A1A25;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.step1 .tova .left .owl-carousel {
    width: 943px;
    position: relative;
}

.step1 .tova .left .owl-carousel .owl-dots {
    display: none;
}

.item>div:first-of-type>img {
    width: 220px;
}

.item {
    border-radius: 12px;
    border: 1px solid #858fa427;
    display: flex;
}

.item>div:last-of-type {
    display: flex;
    flex-direction: column;
}

.vnal {
    display: flex;
    color: #2FC509;
    font-size: 12px;
    font-weight: 500;
}

.item>div:last-of-type img {
    width: auto;
}

.item>div:last-of-type {
    padding: 20px 0px;
}

.vnal img {
    margin: 0px 2px;
}

.vnal img:first-of-type {
    margin-left: 6px;
}

.name1 {
    margin: 8px 0px;
    color: #1A1A25;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.item .rate {
    display: flex;
    margin-bottom: 12px;
}

.item .rate>img {
    position: relative;
    top: -1px;
    left: 2px;
    margin: 0px;
}

.newPrice {
    color: var(--unnamed, #1A1A25);
    font-size: 17px;
    font-weight: 700;
    line-height: 135.938%;
}

.oldPrice {
    color: #858FA4;
    font-size: 16px;
    font-family: Inter;
    line-height: 135.938%;
    text-decoration: line-through;
    margin-left: 12px;
}

.last {
    display: flex;
    margin-top: 9px;
}

.last button {
    padding: 8px 10px 9px 10px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    background: var(--unnamed, #F53B49);
    margin-right: 12px;
}

.last span {
    color: #858FA4;
    font-size: 12px;
    font-weight: 700;
    align-self: center;
}

.owl-prev {
    display: none;
}

.owl-next {
    position: absolute;
    top: 35%;
    right: 5px;
    height: 60px;
    width: 60px;
    background: url(image/arrow2.png) -20px -18px;
}

.owl-next span {
    opacity: 0;
}

/* .step2{display: none;} */
#fid-1:checked~.step2 {
    display: none;
}

#fid-2:checked~.step1 {
    display: none;
}

#fid-2 {
    margin-left: 30px;
}

.step2 {
    display: grid;
    grid-template-columns: 1fr 450px;
    margin: 20px 0px;
}

.step2 h2:first-of-type {
    margin-top: 20px;
    color: #1A1A25;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 30px;

}

.left2 {
    padding-right: 30px;
}

.delivery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.delivery>div {
    display: flex;
    width: 290px;
    padding: 26px 12px 30px 12px;
    align-items: flex-start;
    border-radius: 6px;
    background: #FFF;
    border: 1px solid #6969691d;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.delivery>div:first-of-type {
    border: 2px solid #2FC509;
}

.delivery>div input {
    margin-right: 16px;
    position: relative;
    top: 7px;
}

.delivery>div>div p:first-of-type {
    color: #1A1A25;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
}

.right2 {
    position: sticky;
    top: 0px;
}

.right2>div:nth-of-type(1),
.right2>div:nth-of-type(2) {
    display: flex;
}

.right2 {
    width: 450px;
    padding: 30px;
    height: min-content;
    position: sticky;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px rgba(19, 15, 38, 0.10), 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    top: 0px;
}

.right2>div:first-of-type h3 {
    width: 160px;
    color: #F53B49;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}

.right2>div:first-of-type span {
    position: relative;
    top: 1px;
    color: #F53B49;
    font-size: 17px;
    font-weight: 700;
    line-height: 135.938%;
}

.right2>div {
    position: relative;
    margin-bottom: 20px;
}

.right2>div>p:first-of-type {
    width: 160px;
}

.right2>div>p:last-of-type {
    position: absolute;
    right: 0px;
}


.right2>div:nth-of-type(2) {
    padding: 12px 0px 20px 0px;
    margin: 12px 0px 20px 0px;
    border-top: 1px solid rgba(133, 143, 164, 0.2);
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}

.right2>div:nth-of-type(2) p:first-of-type {
    width: 160px;
    font-size: 16px;
    color: #384255;
    line-height: 150%;
}

.right2>div:nth-of-type(2) p:last-of-type {
    font-size: 16px;
    color: #384255;
    line-height: 150%;
}

.right2 button:first-of-type {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--unnamed, #F53B49);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.loko {
    display: flex;
    flex-direction: column;
}

.right2 button {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.right2>div {
    display: flex;
}

.sklad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sklad>div {
    display: flex;
    width: 451px;
    align-items: flex-start;
    margin-bottom: 30px;
    
}

.right2>div>p:last-of-type {
    color: rgba(75, 126, 232, 1);
    font-weight: 700;
}

.right2>div:nth-of-type(2)>p:last-of-type {
    color: rgba(75, 126, 232, 1);
}

.sklad>div>div:last-of-type {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.sklad>div>div:last-of-type p:nth-of-type(1) {
    color: #1A1A25;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 10px;
}

.sklad>div>div:last-of-type p:nth-of-type(2),
.sklad>div>div:last-of-type p:nth-of-type(3) {
    color: #384255;
    font-size: 16px;
    line-height: 110%;
    margin-bottom: 10px;
}

.sklad>div>div:last-of-type span {
    color: #4B7EE8;
    font-size: 14px;
    font-weight: 700;
}

.sklad img {
    margin-bottom: 50px;
}

.way {
    color: #1A1A25;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.way1 {
    color: #384255;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
}

.payment {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.payment>div {
    display: flex;
    border: #87878738 1px solid;
    border-radius: 8px;
    width: 290px;
    padding: 26px 12px;
    align-items: flex-start;
    box-sizing: border-box;
}

.payment>div>div:last-of-type {
    margin-left: 10px;
}

.payment>div p:last-of-type {
    margin-top: 5px;
    color: #1A1A25;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.payment>div b {
    color: rgba(75, 126, 232, 1);
    font-weight: 400;
    cursor: pointer;
}

.payment>div p:first-of-type {
    margin-top: 0px;
    color: #1A1A25;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.payment>div img {
    margin-top: 10px;
    margin-right: 8px;
}

.payment>div img:first-of-type {
    position: relative;
    top: -4px;
}

.payment>div input {
    position: relative;
    top: 4px;
}

.lor {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 100px;
}

form {
    display: flex;
    flex-direction: column;
    color: #384255;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

form b {
    color: rgba(245, 59, 73, 1);
    font-weight: 600;
}

form p {
    margin-left: 3px;
}

.juo {
    box-sizing: border-box;
    display: flex;
    height: 50px;
    padding: 8px 10px;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid rgba(144, 156, 181, 0.50);
    background: #FFF;
    margin-bottom: 12px;
    margin-top: 4px;
}

.lestr {
    display: flex;
    margin: 20px 0px;
}

.lestr>div:first-of-type input:first-of-type {
    position: relative;
    top: -2px;
}

.lestr>div:first-of-type input:last-of-type {
    position: relative;
    top: 47px;
    left: -13px;
}

.lestr p {
    color: var(--txt, #384255);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 10px;
}

.buts {
    display: flex;
}

.buts button:first-of-type {
    display: flex;
    padding: 12px 20px 13px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #F53B49;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 12px;
}

.buts button:last-of-type {
    display: flex;
    padding: 12px 20px 13px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #F53B49;
    background: rgba(245, 59, 73, 0.00);
    color: #F53B49;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttons {
    display: flex;
    margin-bottom: 30px;
}

.buttons button {
    padding: 8px 12px 9px 12px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    border-radius: 4px;
}

.buttons button:first-of-type {
    opacity: 0.699999988079071;
    background: var(--txt, #384255);
    color: #FFF;
}

.buttons button:last-of-type {
    background: #FFF;
    color: var(--txt, #384255);
    border: 1px solid #3842552e;
}

.teht {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.teht a {
    color: rgba(245, 59, 73, 1);
    text-decoration: none;
}

.teht p:first-of-type {
    color: #384255;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.teht p:nth-of-type(2) {
    margin-bottom: 40px;
}

.teht p:nth-of-type(3),
.teht p:nth-of-type(2) {
    color: var(--txt, #384255);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}