@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

/* *,
::after,
::before {
    box-sizing: content-box;
} */
html,
body {
    position: relative;

}

.container {

    min-width: 1410px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;

}

#gl2 {
    background: #2A2C38;
    height: 44px;
    position: absolute;
    width: 100%;
    top: 145px
}

.miniHeader {
    background-color: rgba(26, 26, 37, 1);
    position: fixed;
    z-index: 13;
    width: 100%;
    margin-top: -40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: none;
}

.logos {
    height: 19px;
    width: 200px;
}

.stroka1 {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.stroka1 select {
    position: relative;
    top: -5px;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #858FA4;
}

.stroka1>div:last-of-type {
    display: flex;
    position: relative;
}

.stroka1>div:last-of-type img:nth-of-type(3) {
    margin: 0px 20px;
}

#ellip1,
#ellip2,
#ellip3 {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #F53B49;
    border: 1px solid #1A1A25;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

#ellip1 {
    position: absolute;
    top: 0px;
    left: 95px;
}

#ellip2 {
    position: absolute;
    top: 0px;
    left: 138px;
}

#ellip3 {
    position: absolute;
    top: 0px;
    left: 178px;
}

#navi {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 18px;
    width: 30px;
    justify-content: space-between;
    align-self: center;
    margin-left: 30px;



}

#navi div {
    height: 2px;
    width: inherit;
    background-color: #FFFFFF;
}

.stroka2 {
    background: #2A2C38;
}

.menuCheck {
    height: 60px;
    width: 60px;
    position: absolute;
    right: -20px;
    top: -15px;
    opacity: 0;
    z-index: 28;
}

.menuCheck:checked+#ops {
    display: flex;
}



#ops {

    position: fixed;
    height: 400px;
    width: 320px;
    background-color: #74777e;
    z-index: 16;
    right: 0px;
    top: 63px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

#ops li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: table
}

#ops li A {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 100%;
    height: 100%;
    letter-spacing: 5px;
}

#ops li a:hover {
    font-size: 22px;
    background-color: #5b5c5f;

}


header {
    position: relative;
    background-color: #1A1A25;



}

header #first_row {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

header #first_row>div:first-of-type {

    padding: 20px 0px;
    width: 425px;
}

header #first_row select {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #858FA4;
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 25px;
    outline: 0px;
}



header #first_row div:first-of-type select {

    height: 20px;
}

header #first_row>div:last-of-type {

    padding: 20px 0px;
    display: flex;
}

header #first_row>div:last-of-type div {
    display: flex;
}

header #first_row button {
    box-sizing: border-box;

    padding: 10px;
    gap: 10px;
    width: 142px;
    height: 37px;
    background: #384255;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #F7F7F7;
    margin-left: 30px;
    position: relative;
    top: -4px;
}

header #first_row>div:last-of-type>div:first-of-type span {

    height: 20px;
    font-size: 14px;
    line-height: 140%;
    vertical-align: bottom;
    color: #909CB5;
    position: relative;
    top: 10px;
    position: relative;
    top: 5px;
}

#tel {
    
    width: 139px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    top: 7px;
}

header #first_row>div:last-of-type select {
    width: 59px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -5px;
}

#line {
    width: 1px;
    height: 30px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    margin: 0px 30px;
}

#ACall {
    width: 113px;
    height: 20px;
    font-size: 14px;
    line-height: 140%;
    color: #F53B49;
    position: relative;
    left: 7px;
    top: 7px;

}

header #first_row>div:last-of-type>div:last-of-type span {

    height: 20px;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 7px;
    cursor: pointer;
}

header #first_row>div:last-of-type>div:last-of-type img {
    position: relative;
    left: 10px;
    top: 3px;
    margin-right: 12px;
}

#gl {
    position: absolute;
    top: 80px;
    height: 1px;
    width: 100%;
    background-color: rgba(133, 143, 164, 0.15);

}

#second_row {
    padding-top: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 9px;
}

#second_row div {
    display: flex;
    flex-direction: row;
}

#second_row button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 13px;
    width: 127px;
    height: 49px;
    max-height: 49px;
    background: #F53B49;
    border-radius: 4px;
    flex-grow: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
}

#second_row button img {
    position: relative;
    right: 5px;
    top: 1px;
}

#search {
    height: 20px;

    margin-top: 13px;
    margin-left: 50px;
}

#line2 {
    width: 1px;
    height: 40px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    margin: 5px 30px 0px 30px;

}

header #second_row li {
    display: inline;
    height: 20px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 18px 0px 18px;
}

header #second_row li a {
    text-decoration: none;
    color: #FFFFFF;
}

header #second_row li a:hover {
    color: rgb(151, 149, 149);
}

header #second_row ul {
    margin-top: 15px;
}

#second_row div:last-of-type img:first-of-type {
    height: 20px;
    position: relative;
    top: 15px;
    right: 110px;
}

#second_row div {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#second_row div:last-of-type img:nth-of-type(2) {
    height: 20px;
    position: relative;
    top: 15px;
    right: 68px;
}

#second_row div:last-of-type img:nth-of-type(3) {
    height: 28px;
    position: relative;
    top: 8px;
    right: 25px;
}

#ellips {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #F53B49;
    border: 1px solid #1A1A25;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    top: 25px;
    cursor: pointer;

}

#ellips:first-of-type {
    right: 149px;
}

#ellips:nth-of-type(2) {
    right: 85px;
}

#ellips:nth-of-type(3) {
    right: 17px;
}

#third_row {
    display: flex;
    height: 44px;
    position: relative;
    padding: 13px 0px 14px 0px;
}

#third_row button {
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



#bar {
    position: relative;
    top: -1px;
    left: 3px;
}

.dropdown_menu1,
.dropdown_menu2 {
    position: absolute;
    visibility: hidden;
    background: #2A2C38;
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 20px 10px 5px;
    z-index: 1;

}



#third_row div button:hover+.dropdown_menu1 {
    visibility: visible;
}

header li:hover {
    color: rgb(151, 149, 149);
}

.dropdown_menu1 li,
.dropdown_menu2 li {
    margin: 20px 0px;
}

.dropdown_menu1 li:first-of-type,
.dropdown_menu2 li:first-of-type {
    margin-top: 15px;
}

.dropdown_menu1 li:last-of-type,
.dropdown_menu2 li:last-of-type {
    margin-bottom: 5px;
}

.dropdown_menu1:hover {
    visibility: visible;
}

#third_row #line {
    position: relative;
    top: -5px;
    z-index: 2;
}

#third_row div button:hover+.dropdown_menu2 {
    visibility: visible;
}

.dropdown_menu2:hover {
    visibility: visible;
}



#carouselExampleAutoplaying {
    margin: 40px 60px 0px 60px;
    position: relative;

}




#hg {
    position: relative;
    bottom: 95px;
    left: 150px;
    z-index: 1;
    opacity: 0.8;
}

#image_29 {
    position: relative;
    bottom: 600px;
    left: 845px;

}

.carousel-control-prev,
.carousel-control-next {
    top: 80%;
    position: absolute;
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255, 1);
    border-radius: 50%;
    opacity: 1;

}

.carousel-control-prev {
    left: 80%;

}

.carousel-control-next {
    left: 87%;
}


#zero {
    position: absolute;
    top: 83px;
    left: 203px;
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #F53B49;

}

#run {
    position: absolute;
    top: 133px;
    left: 203px;
    width: 512.8px;
    height: 220px;
    font-weight: 400;
    font-size: 49.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1A1A25;

}

#more {
    justify-content: center;
    align-items: center;
    padding: 12px 20px 13px;
    gap: 10px;

    height: 42px;
    border: 1px solid #F53B49;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F53B49;
}

.container h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #1A1A25;
    margin: 120px 0px 30px 0px;
}

#forH,
#forC {

    display: grid;
    gap: 30px;
    margin-bottom: 30px;



}

#forH {
     
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#forH div {
    border-radius: 6px;
    position: relative;
}

#forH div p,
#forC div p {
    position: absolute;
    top: 30px;
    left: 30px;
}
#divOne img, #divTwo img,#divThree img,#divFour img,#divFive img,#divSix img,#divSeven img,#divEight img,#divNine img,#divTen img{position: absolute; bottom: 0px;
right: 1px;}
#forH div img {
    float: right; 
 
    display: block;
    margin-left: auto;
    margin-top: auto;
}

#forH p,
#forC p {
    color: #1A1A25;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}


#divOne {
    position: relative;
    grid-column: 1;
    grid-row: 1/3;
    background: linear-gradient(rgba(72, 77, 92, 1), rgba(112, 121, 148, 1));
}
#divOne img:first-of-type {position: absolute; bottom: 1px; right: 1px;}
#divOne p {
    color: #FFF;
}


#divTwo {
    grid-column: 2;
    grid-row: 1/3;
    background: #F0F1F7;
}

#divThree {
    grid-column: 3;
    grid-row: 1;
    background: #F0F1F7;
}

#divFour {
    grid-column: 3;
    grid-row: 2;
    background: #F0F1F7;
}

#divFive {
    grid-column: 4;
    grid-row: 1;
    background: #F0F1F7;
}

#divSix {
    grid-column: 4;
    grid-row: 2;
    background: #F0F1F7;
}

#divSeven {
    grid-column: 1;
    grid-row: 3;
    background: #F0F1F7;
}

#divEight {
    grid-column: 2;
    grid-row: 3;
    background: #F0F1F7;
}

#divNine {
    grid-column: 3;
    grid-row: 3;
    background: #F0F1F7;
}

#divTen {
    grid-column: 4;
    grid-row: 3;
    background: #F0F1F7;
}

#forC div:not(:first-of-type) img {
    float: right;
}

#forC div {
    position: relative;
    border-radius: 6px;
}

/* #forC div img{position: absolute;
bottom: 0px; right: 0px;} */

#forC>div:first-of-type p {
    color: #FFF;
}


#forC>div:first-of-type {
    grid-column: 1/3;
    grid-row: 1;

    background: radial-gradient(rgba(133, 143, 164, 1), rgba(86, 95, 115, 1), rgba(26, 26, 37, 1));
}

#forC>div:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;

    background: #F0F1F7;
}

#forC>div:nth-of-type(3) {
    grid-column: 4;
    grid-row: 1;

    background: #F0F1F7;
}

#forC>div:nth-of-type(4) {
    grid-column: 1;
    grid-row: 2;

    background: #F0F1F7;
}

#forC>div:nth-of-type(5) {
    grid-column: 2;
    grid-row: 2;

    background: #F0F1F7;
}

#forC>div:nth-of-type(6) {
    grid-column: 3;
    grid-row: 2;

    background: #F0F1F7;
}

#forC>div:nth-of-type(7) {
    grid-column: 4;
    grid-row: 2;

    background: #F0F1F7;
}

#Acti {
    display: flex;
    align-items: flex-end;
    margin-top: 120px;
    margin-bottom: 30px;
}

#Acti h2 {
    margin: 0px;
}

#Acti h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #828282;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#Acti div:nth-of-type(2) {
    margin: 0px 30px 0px 30px;
}

#carousel {
    margin-bottom: 30px;
}

#carousel .carousel-control-next {
    top: 40%;
}

.vend {
    display: flex;
    width: 100%;
}

.typesd {
    margin-left: 80px;
}

.vend div {
    position: relative;
    height: 505px;
    min-width: 300px;
    margin-right: 30px;
    overflow: hidden;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
    border-radius: 6px;

}

.owl-carousel .owl-item .card img {
    width: auto;
    display: inherit;
}

.buy {
    justify-content: center;
    align-items: center;
    padding: 12px 20px 13px;
    width: 121px;
    height: 49px;
    background: #F53B49;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 26px;
    right: 20px;
    padding-left: 50px;
}

.buy:hover {
    background: #c63844;
}

.buy img {
    position: absolute;
    left: 20px;
    top: 10px;
}

.uio {
    position: absolute;
    right: 45px;
    top: 20px;
    cursor: pointer;
}

.uioHover {
    position: absolute;
    right: 45px;
    top: 20px;
    cursor: pointer;
    visibility: hidden;
}



.like {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;

}

.liked {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    visibility: hidden;
}

.card .vnal {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2FC509;



}

.card .neVNal {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F53B49;
}

.card .malo {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F99808;

}

.te span:first-of-type>svg:first-of-type {
    margin-left: 5px;
}

.card .showroom {

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #384255;
    margin-left: 5px;
}

.te p:first-of-type {
    margin-top: 6px;
    font-size: 16px;
    line-height: 150%;
    color: #1A1A25;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 6px;
}

.te .fullStar {
    margin-top: -3px;
}

.rate1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #909CB5;
}

.price {
    font-weight: 700;
    font-size: 17px;
    line-height: 135.94%;
    color: #1A1A25;
    margin-top: 10px;

}

.prevPrice {
    font-size: 16px;
    line-height: 135.94%;
    text-decoration-line: line-through;
    color: #858FA4;

}

.procent {
    position: absolute;
    top: 10px;
    left: 10px;
}

.thumbUp {
    position: absolute;
    top: 10px;
    left: 36px;
}

.new {
    position: absolute;
    top: 10px;
    left: 62px;
}

.card:hover .new {
    left: 102px;
}

.card:hover .thumbUp {
    left: 56px;

}

.block {
    background: #1A1A25;
    padding: 120px 0px 102px 0px;
    margin-top: 103px;
    margin-bottom: 120px;


}

#wra {
    display: flex;

}

.block h2 {
    margin-top: 0px;
    color: #FFFFFF;

}

#wra div:nth-of-type(1) {
    width: 690px;
    height: 400px;
    margin-right: 30px;
}

#wra div:nth-of-type(2) {
    width: 330px;
    height: 400px;
    margin-right: 30px;
}

#wra div:nth-of-type(3) {
    width: 330px;
    height: 400px;
}

.noFon {
    background: transparent;
}

.block #more {
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    margin-top: 30px;
}

.brandTypes li {
    display: inline;
    margin-right: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #384255;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.brandTypes li:hover {
    cursor: pointer;
    color: #1e242f;
}

.brandTypes {
    margin-bottom: 30px;
}

.brands div {
    border: 1px solid rgba(133, 143, 164, 0.2);
    align-items: center;
    justify-content: center;
    width: 20%;
    display: flex;
    height: 170px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.lop {
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
    margin-bottom: 40px;
    align-items: flex-end;
}

.lop>div {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 305px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 48px 40px;
    border: 1px solid rgba(133, 143, 164, 0.2);
    border-radius: 6px 6px 0px 0px;

}


.lop>div:nth-of-type(3) {
    height: 330px;
    background: #F53B49;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 38px;
    padding-bottom: 20px;
    position: relative;

}

.lop h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #1A1A25;
}

.lop p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #384255;
}

.lop>div:nth-of-type(3) img:nth-of-type(2) {
    position: absolute;
    right: -1px;
    bottom: -1px;
}

.lop>div:nth-of-type(3) h3 {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    width: 170px;
    text-align: left;
}


.lop>div:nth-of-type(3) p {
    font-size: 16px;
    line-height: 150%;
    color: #F7F7F7;
    text-align: left;
    left: 37px;
    top: 180px;
    width: 170px;
}

.lop a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #F53B49;
}

.lop>div:nth-of-type(3) a {
    color: #FFFFFF;
}

.lop a::after {
    content: url(image/str.png);
    position: relative;
    left: 7px;
    top: 2px;
}

.aboutCompany {
    display: flex;
    margin-bottom: 40px;
}

.aboutCompany div:first-of-type p:first-of-type {
    font-size: 34px;
    line-height: 140%;
    color: #384255;
    flex: none;
    order: 0;
    align-self: stretch;
    width: 572px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.aboutCompany div:first-of-type p:last-of-type {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px;
}

.aboutCompany div:first-of-type {
    width: 50%;
}

/* .aboutCompany div:last-of-type{overflow: hidden;} */

.banner2 {

    height: 396px;
    background: #1A1A25;
    border-radius: 6px;
}

.banner2 {
    display: flex;
}

.banner2>div {
    width: 50%;
}

.banner2>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner2>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner2>div:last-of-type p:first-of-type,
.banner2>div:last-of-type p:last-of-type {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.banner2>div:last-of-type p:nth-of-type(2) {
    font-size: 36px;
    line-height: 120%;
    margin: 10px 0px;
    color: #FFFFFF;
    color: rgba(245, 59, 73, 1)
}

.banner2 #more {
    color: #FFFFFF;
    border-color: #FFFFFF;
    display: flex;
    margin-top: 30px;
    align-self: flex-start;
}

.news {
    display: flex;
    flex-direction: column;
}

.news>div:first-of-type {
    display: flex;
    position: relative;
}

.news>div li:last-of-type {
    position: relative;
    display: flex;
    justify-self: flex-end;
    align-self: unsafe center;
    top: 48px;
    left: 30px;
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #828282;
}

.news ul {
    display: flex;
}



.fullStar {
    position: relative;
    top: 2px;
}

.lol {
    margin-top: 50px;
}

.card:nth-of-type(3) .neVNal>img:nth-of-type(2) {
    margin-right: 3px;
}

.card:nth-of-type(4) .malo>img:nth-of-type(2) {
    margin-right: 3px;
    margin-left: 3px;
}

.owl-next {
    position: absolute;
    top: 20%;
    right: 3%;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    background: url(image/arro.svg);
    background-position: top -20px left -20px;
    border: none;
}

.owl-prev,
.owl-dot {
    display: none;
}

.owl-next span {
    visibility: hidden;
}

.owl-stage {
    position: relative;
}













































footer {
    background: rgba(26, 26, 37, 1);

    padding-top: 88px;
    margin-top: 70px;
    box-shadow: 0px 10px 50px 0px rgba(133, 143, 164, 0.05);
}

.firstFtr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(133, 143, 164, 0.15);
    padding-bottom: 30px;
}

.firstFtr div li {
    color: rgba(133, 143, 164, 1);
    font-weight: 500;
    line-height: 21px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    cursor: pointer;
}

.firstFtr div li:first-of-type {
    color: rgba(255, 255, 255, 1);

    margin-bottom: 30px;
}

.firstFtr div li:first-of-type:hover,
.firstFtr>div:first-of-type ul:first-of-type li:last-of-type:hover {
    color: rgb(202, 198, 198);

}



.firstFtr>div:first-of-type {
    display: flex;
}

.firstFtr>div:first-of-type ul {
    margin-right: 30px;
    width: 210px;
}


.firstFtr>div:first-of-type ul:first-of-type li:last-of-type {
    color: rgba(255, 255, 255, 1);
}

.firstFtr div li:not(:first-of-type):hover {
    color: rgb(110, 118, 135);
}

.firstFtr>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#policy {
    margin-top: 20px;
}

.firstFtr>div:last-of-type button {
    border-radius: 5px;
    background: rgba(133, 143, 164, 0.15);
    width: 255px;
    height: 48px;
    padding: 15px 34px 14px 14px;
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    border: none;
    position: relative;
    margin-bottom: 50px;
}

.firstFtr>div:last-of-type button::after {
    content: url(image/paperPlane.png);
    position: absolute;
    right: 20px;
}

.firstFtr>div:last-of-type p {
    color: #858FA4;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 8px;


}

.disl {
    display: none;
}


.firstFtr>div:last-of-type span {
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-family: Inter;
    line-height: 140%;
}

.firstFtr>div:last-of-type span:hover {
    color: #cfcdcd;

}

.firstFtr>div:last-of-type>div:first-of-type {
    margin-bottom: 23px;
}

.firstFtr>div:last-of-type>div:last-of-type {
    margin-bottom: 40px;
}

.firstFtr>div:last-of-type>a {
    margin-bottom: 7px;
    text-decoration: none;
    color: #4B7EE8;

}

.secondFtr {
    padding: 51px 0px;
    display: flex;
    justify-content: space-between;
}

.secondFtr p {
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    margin-top: 17px;
}

.secondFtr>div:nth-of-type(2) {
    margin-left: 76px;
}

.secondFtr>div:nth-of-type(2) svg {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.secondFtr>div:nth-of-type(3) {
    display: flex;
}

.secondFtr>div {
    justify-content: center;
    align-items: center;
}

.secondFtr>div:last-of-type svg {
    margin-top: 13px;
}


.secondFtr button:first-of-type {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    height: 37px;
    background: #384255;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #F7F7F7;
    margin-right: 30px;
}

.secondFtr button:last-of-type {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid rgba(144, 156, 181, 0.50);
    color: #858FA4;
    font-size: 14px;
    background: transparent;
    font-weight: 700;
    height: 37px;
}

.secondFtr>div:last-of-type svg {
    margin-right: 30px;
}

.item {
    display: flex;
    flex-direction: column;

}

.item div {
    padding: 20px 0px 20px 10px;
}

.item h3 {
    color: #384255;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}

.item p {
    color: #384255;
    font-size: 16px;
    line-height: 150%;
    margin: 10px 0px;
}

.item span {
    color: #384255;
    font-size: 16px;
    opacity: 0.5;
    line-height: 150%;
}



.owl-carousel.owl-theme.owl-loaded.owl-drag{margin-bottom: 30px;}









































/* .myClass {
    background-color: red;
    color: white;
    font-size: 44px;
  } */



.myClass {
    visibility: hidden;
}

.myClass1 {
    visibility: visible;
}