@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

/* *,
::after,
::before {
    box-sizing: content-box;
} */
html,
body {
    position: relative;
    box-sizing: border-box;
}

button {
    border: none;
}

.container {

    max-width: 1410px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;

}

#gl2 {
    background: #2A2C38;
    height: 44px;
    position: absolute;
    width: 100%;
    top: 162px;

}


header {
    position: relative;
    background-color: #1A1A25;
    height: 205px;
    margin-bottom: 60px;


}

header #first_row {
    display: flex;
    height: 70px;
    justify-content: space-between;
}

header #first_row>div:first-of-type {

    padding: 20px 0px;
    width: 425px;
}

header #first_row select {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #858FA4;
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 25px;
    outline: 0px;
}



header #first_row div:first-of-type select {

    height: 20px;
}

header #first_row>div:last-of-type {

    padding: 20px 0px;
    display: flex;
}

header #first_row>div:last-of-type div {
    display: flex;
}

header #first_row button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 142px;
    height: 37px;
    background: #384255;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #F7F7F7;
    margin-left: 30px;
    position: relative;
    top: -4px;
}

header #first_row>div:last-of-type>div:first-of-type span {

    height: 20px;
    font-size: 14px;
    line-height: 140%;
    vertical-align: bottom;
    color: #909CB5;
    position: relative;
    top: 10px;
    position: relative;
    top: 5px;
}

#tel {
    width: 139px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    top: 7px;
}

header #first_row>div:last-of-type select {
    width: 59px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -5px;
}

#line {
    width: 1px;
    height: 30px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    margin: 0px 30px;
}

#ACall {
    width: 113px;
    height: 20px;
    font-size: 14px;
    line-height: 140%;
    color: #F53B49;
    position: relative;
    left: 7px;
    top: 7px;

}

header #first_row>div:last-of-type>div:last-of-type span {

    height: 20px;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 7px;
    cursor: pointer;
}

header #first_row>div:last-of-type>div:last-of-type img {
    position: relative;
    left: 10px;
    top: 3px;
    margin-right: 12px;
}

#gl {
    position: absolute;
    top: 80px;
    height: 1px;
    width: 100%;
    background-color: rgba(133, 143, 164, 0.15);

}

#second_row {
    padding: 16px 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 9px;
}

#second_row div {
    display: flex;
    flex-direction: row;
}

#second_row button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 13px;
    width: 127px;
    height: 49px;
    max-height: 49px;
    background: #F53B49;
    border-radius: 4px;
    flex-grow: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
}

#second_row button img {
    position: relative;
    right: 5px;
    top: 1px;
}

#search {
    height: 20px;

    margin-top: 13px;
    margin-left: 50px;
}

#line2 {
    width: 1px;
    height: 40px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
    margin: 5px 30px 0px 30px;

}

header #second_row li {
    display: inline;
    height: 20px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 18px 0px 18px;
}

header #second_row li a {
    text-decoration: none;
    color: #FFFFFF;
}

header #second_row li a:hover {
    color: rgb(151, 149, 149);
}

header #second_row ul {
    margin-top: 15px;
}

#second_row div:last-of-type img:first-of-type {
    height: 20px;
    position: relative;
    top: 15px;
    right: 110px;
}

#second_row div {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

#second_row div:last-of-type img:nth-of-type(2) {
    height: 20px;
    position: relative;
    top: 15px;
    right: 68px;
}

#second_row div:last-of-type img:nth-of-type(3) {
    height: 28px;
    position: relative;
    top: 8px;
    right: 25px;
}

#ellips {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #F53B49;
    border: 1px solid #1A1A25;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    top: 25px;
    cursor: pointer;

}

#ellips:first-of-type {
    right: 149px;
}

#ellips:nth-of-type(2) {
    right: 85px;
}

#ellips:nth-of-type(3) {
    right: 17px;
}

#third_row {
    display: flex;
    height: 44px;
    position: relative;
    padding: 13px 0px 14px 0px;
}

#third_row button {
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}



#bar {
    position: relative;
    top: -1px;
    left: 3px;
}

.dropdown_menu1,
.dropdown_menu2 {
    position: absolute;
    visibility: hidden;
    background: #2A2C38;
    margin-top: 0px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 20px 10px 5px;
    z-index: 7;

}

.dropdown_menu1 li a,
.dropdown-item {
    text-decoration: none;
    color: #FFFFFF;
}

.dropdown_menu1 li a:hover {
    color: rgb(151, 149, 149);
}

.dropdown_menu2 li a:hover {
    color: rgb(151, 149, 149);
}

#third_row div button:hover+.dropdown_menu1 {
    visibility: visible;
}

header li:hover {
    color: rgb(151, 149, 149);
}

.dropdown_menu1 li,
.dropdown_menu2 li {
    margin: 20px 0px;
}

.dropdown_menu1 li:first-of-type,
.dropdown_menu2 li:first-of-type {
    margin-top: 15px;
}

.dropdown_menu1 li:last-of-type,
.dropdown_menu2 li:last-of-type {
    margin-bottom: 5px;
}

.dropdown_menu1:hover {
    visibility: visible;
}

#third_row #line {
    position: relative;
    top: -5px;
    z-index: 2;
}

#third_row div button:hover+.dropdown_menu2 {
    visibility: visible;
}

.dropdown_menu2:hover {
    visibility: visible;
}

.breadCrumbs,
.breadCrumbs a {
    color: rgba(56, 66, 85, 0.60);
    text-decoration: none;
    font-size: 14px;
    font-family: Inter;
    line-height: 140%;

}

.breadCrumbs::before {
    content: url('image/Vectorrr.svg');
    margin-right: 7px;
    position: relative;
    top: 2px;
}

h1 {
    color: var(--unnamed, #1A1A25);
    font-size: 38px;
    font-weight: 800;
    line-height: 110%;
    margin: 30px 0px 20px 0px;
}

.line {
    height: 1px;
    border-radius: 1px;
    background: rgba(133, 143, 164, 0.20);
    margin-bottom: 30px;
}

.banner {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.banner>img:first-of-type {
    position: absolute;
    right: 0px;
}

.banner>img:nth-of-type(2) {
    z-index: 1;
}

.banner>img:nth-of-type(3) {
    z-index: 2;
    position: absolute;
    left: 70px;
    bottom: 0px;
}

.banner>div>img:nth-of-type(4) {
    z-index: 3;
}

.banner h2 {
    color: rgba(245, 59, 73, 1);
    z-index: 4;
    font-size: 32.5px;
    margin-top: 20px;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
}

.banner h3 {
    color: rgba(255, 255, 255, 1);
    z-index: 4;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 110%;
}

.banner>div {
    align-self: flex-start;
    justify-self: start;
    z-index: 4;
    position: absolute;
    left: 64px;
    top: 45px;
    justify-content: space-between;
}

.banner button {
    padding: 12px 20px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--unnamed, #F53B49);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;

}

.replic {
    display: flex;
    margin: 50px 0px 30px 0px;
    justify-content: space-between;
}

.replic>div:first-of-type {
    width: 900px;
}

.replic>div:first-of-type button {
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 8px 12px 9px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(144, 156, 181, 0.20);
    color: var(--txt, #384255);
    font-size: 14px;
    font-weight: 700;
}

.replic>div:first-of-type button:first-of-type {
    border-radius: 4px;
    background: var(--unnamed, #F53B49);
    color: rgba(255, 255, 255, 1);
}

.replic>div:last-of-type>span {
    color: var(--txt, #384255);
    opacity: 0.5;
    font-size: 14px;
    margin-right: 12px;
    line-height: 140%;
    position: relative;

}

.replic>div:last-of-type>span:first-of-type {
    color: var(--txt, #384255);
    font-size: 14px;
    font-weight: 700;
    opacity: 1;
}

.replic>div:last-of-type>span:first-of-type::before {
    content: url(image/sort.svg);
    position: absolute;
    left: -27px;
    top: -2px;

}

.goods {
    display: flex;
    justify-content: center;
}

.vend {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 30px;
    justify-content: space-between;
}

.typesd {
    margin-left: 80px;
}

.card {
    position: relative;
    width: 270px;

    margin-bottom: 30px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
    border-radius: 6px;
    background-color: #FFF;
    height: 580px;

}


.buy {
    justify-content: center;
    align-items: center;
    padding: 12px 20px 13px;
    width: 121px;
    height: 49px;
    background: #F53B49;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 26px;
    right: 20px;
    padding-left: 50px;
}

.buy:hover {
    background: #c63844;
}

.buy img {
    position: absolute;
    left: 20px;
    top: 10px;
}

.uio {
    position: absolute;
    right: 45px;
    top: 20px;
    cursor: pointer;
}

.uioHover {
    position: absolute;
    right: 45px;
    top: 20px;
    cursor: pointer;
    visibility: hidden;
}



.like {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;

}

.liked {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    visibility: hidden;
}





.te {
    /* margin-top: -5px; */
    padding: 20px;
    background-color: white;
    border-top: none;
}

.vnal {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.neVNal {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F53B49;
}

.malo {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F99808;

}




.te span:first-of-type>svg:first-of-type {
    margin-left: 5px;
}

.showroom {

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4B7EE8;
    margin-left: 5px;
}

.te>p:first-of-type {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(26, 26, 37, 1);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 6px;
}

.te .fullStar {
    margin-top: -3px;
}

.te .fullStar:not(:first-of-type) {
    margin-left: -4px;
}

.rate1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #909CB5;
}

.price {
    font-weight: 700;
    font-size: 17px;
    line-height: 135.94%;
    color: #1A1A25;
    margin-top: 10px;

}

.prevPrice {
    font-size: 16px;
    line-height: 135.94%;
    text-decoration-line: line-through;
    color: #858FA4;

}

.procent {
    position: absolute;
    top: 10px;
    left: 10px;
}

.thumbUp {
    position: absolute;
    top: 10px;
    left: 36px;
}

.new {
    position: absolute;
    top: 10px;
    left: 62px;
}

.card:hover .new {
    left: 102px;
}

.card:hover .thumbUp {
    left: 56px;

}

.typ {
    color: #909CB5;
    font-size: 14px;
    line-height: 140%;
    display: flex;
}

.dfr {
    font-size: 14px;
    line-height: 140%;
    color: rgba(56, 66, 85, 1);
    margin-left: 5px;
}

.te>span {
    margin-bottom: 4px;
}

.sort {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    border-left: 1px solid rgba(133, 143, 164, 0.20);
    /* width: 175px; */
}

.sort ul li:first-of-type {
    width: 175px;
    color: #384255;
    font-size: 14px;
    font-weight: 700;
}

.sort ul li:not(:first-of-type) {
    color: #384255;
    font-size: 14px;
    line-height: 140%;
}

.sort ul li:not(:last-of-type) {
    margin-bottom: 12px;
}

.sort ul {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}

.sort>div:first-of-type ul {
    padding-top: 0px;
}

.sort #che {
    position: relative;
    top: 2px;
    margin-right: 3px;

}

.sort #fakeCheck {
    display: ;
    position: relative;
    top: 1px;
    left: -16px;
    opacity: 0;
    z-index: -1;
}

.sort #che:checked {
    opacity: 0;
}

.sort #che:checked+#fakeCheck {
    opacity: 1;
}

#vae {
    max-width: 77.838px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(133, 143, 164, 0.20);
    background: #FFF;
    color: var(--txt, #384255);
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
    line-height: 140%;
    box-sizing: border-box;
}

#vae input {
    color: #c63844;
}


.cost li {
    margin-bottom: 12px;
}

.buttons button {
    padding: 12px 20px 13px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--unnamed, #F53B49);
    background: rgba(245, 59, 73, 0.00);
    color: #F53B49;
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0px;
}

.buttons>div {
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 6px;
    background: #1A1A25;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    /* width: 175px; */
}

.buttons>div div {
    margin-bottom: 12px;
}

.buttons a {
    color: rgba(255, 255, 255, 0.8);

    font-weight: 600;
    text-decoration: none;
}

.buttons a::after {
    content: url(image/stre.svg);
    position: relative;
    left: 7px;
    top: 2px;
}

.advertis {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

#why {
    margin-top: 20px;
    max-width: 370px;
    color: #384255;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
}

.showMore{display: flex; width: 100%; justify-content: center;}



.showMore p:first-of-type{cursor: pointer;
    color:#F53B49;
    font-size: 14px;
    font-weight: 700;}







.watched {
    margin-top: 120px;
    margin-bottom: 120px;
}

.watched>h2 {
    color: #1A1A25;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 110%;
}

.watched .cart {
    width: 210px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
    border-radius: 6px;
    background-color: #FFF;
    
}

.watched .cart div {
    
    padding: 20px;
}

.type, .name{
color:  #1A1A25;
font-size: 14px;
line-height: 140%; 
   
}
.name{margin-bottom: 8px;}

.watched .rate1 img{position: relative; top: 2px;}
.watched>div{display: flex; flex-direction: row; flex-wrap: wrap;}
.watched>div{display: flex; justify-content: space-between;}

#third_row button a{color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
text-decoration: none;}








































































footer {
    background: rgba(26, 26, 37, 1);

    padding-top: 88px;
    margin-top: 70px;
    box-shadow: 0px 10px 50px 0px rgba(133, 143, 164, 0.05);
}

.firstFtr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(133, 143, 164, 0.15);
    padding-bottom: 30px;
}

.firstFtr div li {
    color: rgba(133, 143, 164, 1);
    font-weight: 500;
    line-height: 21px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 12px;
    cursor: pointer;
}

.firstFtr div li:first-of-type {
    color: rgba(255, 255, 255, 1);

    margin-bottom: 30px;
}

.firstFtr div li:first-of-type:hover,
.firstFtr>div:first-of-type ul:first-of-type li:last-of-type:hover {
    color: rgb(202, 198, 198);

}



.firstFtr>div:first-of-type {
    display: flex;
}

.firstFtr>div:first-of-type ul {
    margin-right: 30px;
    width: 210px;
}


.firstFtr>div:first-of-type ul:first-of-type li:last-of-type {
    color: rgba(255, 255, 255, 1);
}

.firstFtr div li:not(:first-of-type):hover {
    color: rgb(110, 118, 135);
}

.firstFtr>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.firstFtr>div:last-of-type button {
    border-radius: 5px;
    background: rgba(133, 143, 164, 0.15);
    width: 255px;
    height: 48px;
    padding: 15px 34px 14px 14px;
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    border: none;
    position: relative;
    margin-bottom: 50px;
}

.firstFtr>div:last-of-type button::after {
    content: url(image/paperPlane.png);
    position: absolute;
    right: 20px;
}

.firstFtr>div:last-of-type p {
    color: #858FA4;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 8px;


}

.firstFtr>div:last-of-type span {
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-family: Inter;
    line-height: 140%;
}

.firstFtr>div:last-of-type span:hover {
    color: #cfcdcd;

}

.firstFtr>div:last-of-type>div:first-of-type {
    margin-bottom: 23px;
}

.firstFtr>div:last-of-type>div:last-of-type {
    margin-bottom: 40px;
}

.firstFtr>div:last-of-type>a {
    margin-bottom: 7px;
    text-decoration: none;
    color: #4B7EE8;

}

.secondFtr {
    padding: 51px 0px;
    display: flex;
    justify-content: space-between;
}

.secondFtr p {
    color: #858FA4;
    font-size: 14px;
    line-height: 140%;
    margin-top: 17px;
}

.secondFtr>div:nth-of-type(2) {
    margin-left: 76px;
}

.secondFtr>div:nth-of-type(2) svg {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.secondFtr>div:nth-of-type(3) {
    display: flex;
}

.secondFtr>div {
    justify-content: center;
    align-items: center;
}

.secondFtr>div:last-of-type svg {
    margin-top: 13px;
}


.secondFtr button:first-of-type {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    height: 37px;
    background: #384255;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: #F7F7F7;
    margin-right: 30px;
}

.secondFtr button:last-of-type {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid rgba(144, 156, 181, 0.50);
    color: #858FA4;
    font-size: 14px;
    background: transparent;
    font-weight: 700;
    height: 37px;
}

.secondFtr>div:last-of-type svg {
    margin-right: 30px;
}

button {
    cursor: pointer;
}

.svgThree{position: relative;
top: 1px; left: 2px;}