.container{
    width: 1400px;
    height: 3770px;
    border: rgba(166, 166, 167, 0.534) solid 1px;
    margin: auto;
  
}

.header{
    position: absolute;
    background-color: #313131;
    width: 1400px;
    height: 38px;
}
.header li{
    position: absolute;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    float: left; 
    margin-top: 10px;
    line-height: 16px;
    line-height: 16.41px;
}
.header li:first-of-type{margin-left: 140px;}
.header li:nth-of-type(2){margin-left: 224px;}
.header li:last-of-type{margin-left: 291px;}
a:first-of-type{color: #ffffff; margin-left:  1036px; } 
.header span{
    margin-left: 63px;
    font: 'Roboto' 400;
}
.right{
    font-family:  'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    float: right;
    position: absolute;
    padding-top: 10px;
    height: 38px;
    background: url(phone.png) no-repeat 1010px 10px, url(delivey.png) no-repeat 1175px 10px;
}
.sec{
    height: 50px;
    position: absolute;
    margin-top: 58px;
    width: inherit;
    clear: both;
}
.sec div:first-child{
    height: inherit; width: 290px ;
    background: url(LOGO.png) no-repeat 140px 13px;
    float: left;
}
.sec div:nth-child(2){
    height: inherit;
    float: right;
    height: inherit; width: 265px;
    background: url(red.png) no-repeat 77px 13px, 
    url(wishlist.png) no-repeat 10px 13px, 
    url(bag.png) no-repeat 65px 13px, 
    url(profile-icon.png) no-repeat 118px 13px ;
}
.sec div:nth-child(3){
    height: inherit;
    margin-right: 280px; margin-left: 290px;
}
.search {background: white;}
.search form {
  border: rgb(184, 179, 179) solid 1px;
  background: white;
}
.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
}
.search input {
    position: absolute;
  height: 50px;
  margin-left: 50px;
  font-family:  'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size:16px;

}
.search button {
  height: 48px;
  width: 48px;
  margin-right: 90%;
  top: 0;
  right: 0;
  cursor: pointer;
  background-image: url(search-icon.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px 50%;
}
/*.search button:before {
  content: "\f002";
  font-family: 'Roboto';
  font-size: 16px;
  color: #F9F0DA;
}*/
.menu{
    margin-left: 140px;
    margin-right: 120px;
    margin-top: 9%;
    
    height: 70px;
    background: url(kitchen-icon.png) no-repeat 44px 25px, 
    url(bedroom-icon.png)  no-repeat 167px 25px,
    url(livingroom-icon.png)  no-repeat 309px 25px,
    url(closet-icon.png)  no-repeat 480px 25px,
    url(office-icon.png)  no-repeat 635px 25px,
    url(childrensroom-icon.png)  no-repeat 837px 25px,
    url(etc.png)  no-repeat 1085px 28px,
    url(etc.png)  no-repeat 1085px 28px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}
.menu li{
    color: #414141;
    margin-top: 25px;
    margin-bottom: 26px;
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 80px;
}
.menu li:last-of-type{
color: #D74444;
margin-left: 53px;
}
.ban{
    position: relative;
    width: 1140px;
    height: 450px;
    left: 140px;
    top: 20px;  
    box-shadow: 0px 5px 11px 2px rgba(0, 0, 0, 0.09);
    background: url(1785.png) no-repeat center;

}
.ban div:nth-of-type(1){
    position: relative;
    left: 37px;
    top: 210px;
    height: 30px;
    width: 30px;
    background: url(Stroke.png) no-repeat center, rgba(157, 157, 157, 0.28);
    
}
.ban div:nth-of-type(2){
    position: relative;
    background: url(Subtract.png) no-repeat center;
    width: 30px;
    height: 30px;
    left: 1085px;
    top: 180px;
}
.ban div:nth-of-type(3){position: absolute;
    width: 216px;
    height: 106px;
    left: 120px;
    top: 100px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 53px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3C3C3C;
}
.ban div:nth-of-type(4){
    position: absolute;
    width: 330px;
    height: 23px;
    left: 121px;
    top: 221px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 23px;
    letter-spacing: 0.02em;
    color: #343434;
}


/*
.ban div:nth-of-type(4){
position: absolute;
width: 280px;
height: 23px;
left: 261px;
top: 449px;
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
letter-spacing: 0.02em;
color: #343434;
}
*/

.ban div:nth-of-type(5){
    position: relative;
    width: 163px;
    height: 45px;
    left: 120px;
    top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07)
}
.ban div:nth-of-type(6){
    position: relative;
    width: 150px;
    height: 17px;
    left: 133px;
    top: 170px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #414141;
}
h3{
position: relative;
width: 101px;
height: 19px;
left: 140px;
top: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #414141;
}

.furniture {
top: 735px;    
position: absolute;
margin-left: 130px;
margin-right: 120px;
width: 1150px;


}

.furn {
position: relative;    
width: 263px;
height: 370px;
float: left;
margin-left: 15px;
margin-right: 14px;
margin-bottom: 20px;

}
.hov{
visibility: hidden;   
position: absolute;
z-index: 1;
width: 263px;
height: 488px;
background: url(x.png) 75px 392px no-repeat, url(x.png) 154px 392px no-repeat, url(gt.png) no-repeat 0px 350px ;
box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);

}

.hov span{
position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    line-height: 11px;

}

.size {
    top: 357px;
    left: 20px;
    font-size: 14px;
}

.height{
    color: #C4C4C4;
font-size: 11px;
left: 176px;
    top: 381px;
}

.width{
    color: #C4C4C4;
    font-size: 11px;
    top: 381px;
    left: 20px ;
}

.depth{
    color: #C4C4C4;
    font-size: 11px;
    left: 97px;
    top: 381px;
}
.wid{
    color: #414141;
    font-size: 10px;
    left: 20px;
    top: 400px;
}

.dep{
    color: #414141;
    font-size: 10px;
    left: 97px;
    top: 400px;
}

.hei{
    color: #414141;
    font-size: 10px;
    left: 176px;
    top: 400px;

}
.ad{
    position: absolute;
    width: 223px;
    height: 40px;
    left: 20px;
    top: 427px;
    background: #245462;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 40px;  
    text-align: center;
}

.furn:hover  > .hov{visibility: visible;} 

.furniture div:nth-child(4n){margin-right: 0px;}
.furniture div:nth-child(4n+1){margin-left: 0px;}

.wish {
    position: relative;
    top: 20px;
    left: 220px;
}

.fur {
    position: relative;
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 20px;
}
.name{
    position: relative;
    margin: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    top: 15px;
    line-height: 22px;
    color: #414141;
}

.type{
    position: relative;
    margin: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    color: #414141;
    top: 15px;
    }
    
    .cost{ 
    position: relative;
    margin: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
    top: 15px;
    
    }
    .price{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    top: 15px;
    left: -10px;
    color: #807e7e;
    }

    .discount{
    position: relative;
    line-height: 40px;
    margin-left: 43px;
    top: 10px;
    position: absolute;
    }
    .disc {
    position: relative; 
    top: 18px; 
    }










.footer{
    position: absolute;
    width: 1400px;
    height: 234px;
    top: 3530px;
    height:234px;
    background: url(mail.png) no-repeat 1105px 200px/ 16px 14px, url(inst.png) no-repeat 970px 200px/ 15px 15px, url(phone\ 1.png) no-repeat 803px 200px/ 14px 14px, url(log.png) no-repeat 1212px 49px/ 80px 49px, #FFFFFF;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);}
/*
position:fixed;
bottom:0;
left:0;

*/

.navigation{
position: absolute;
  top: 54px;
  left: 140px;

}
td {
width: 150px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 126.69%;
color: #414141;
}
caption{
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 126.69%;
text-align: left;
color: #000000;
height: 30px;
}
#ac{
    position: absolute;
width: 41px;
height: 18px;
left: 140px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #D74444;
}
#new{
position: absolute;
width: 58px;
height: 18px;
left: 211px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 126.69%;
color: #414141;
}
#adress{
position: absolute;
width: 171px;
height: 54px;
left: 1120px;
top: 120px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 126.69%;
text-align: right;
color: #414141;
}
#meb li{
display: block;
position: absolute;
width: 166px;
height: 18px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #414141;
}
#meb li:nth-of-type(1){left: 825px; top: 200px;}
#meb li:nth-of-type(2){left:  991px; top: 200px;}
#meb li:nth-of-type(3){left:  1127px; top: 200px;}